body, html {
	margin: 0 auto;
	max-width: 980px;
	height: 100%;
	padding: 2em;
}

header#top {
	padding: 0;
	margin: 0 auto;
}

.smiley, .logo {
	border: 2px solid black;
	height: 15em;
	margin: 0 auto;
}

.smiley img {
	position: relative;
	left: -.3em;
}

.logo {
	text-align: center;
}

.logo img {
	position: relative;
	height: 4.5em;
	top: 2em;
}

.logo h1 {
	position: relative;
	font-size: 4.5em;
	top: .5em;
}

.inputs h3 {
	margin-bottom: 1.5em;
}

input {
	margin-bottom: 1em;
	text-align: center;
}

section {
	border: 2px solid black;
	padding: 1em 0 2em 0;
}

.outputs {
	padding: 2em 5em 2em 5em;
	font-size: 1.6em;
	line-height: 1.4em;
}